.OurCustomersDiv{
       display: flex;
       justify-content: space-between;
       padding: 69px 64px 41.5px 45px;
}
.OurCustomersDiv strong{
       font-size: 18px;
       font-weight: 600;
}
.OurCustomersDiv button{
       border: none;
       background: transparent;
       font-weight: 700;
       font-size: 15px;
}